{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block title %}
      <title>YellowDog Doggie Daycare</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header">
            <h1>YellowDog Doggie Daycare</h1>
          </div>
        </div>
      </div>
      {% block sidebar %}
        <!-- insert default navigation text for every page -->
      {% endblock %}
      {% block content %}
        <!-- default content text (typically empty) -->
      {% endblock %}
    </div>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>